html {
  font-family: sans-serif;
}

header {
  text-align: center;
  margin-left: -20px;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

form, .export {
  width: 80%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 50px;
}

select {
  width: 350px;
  font-family: sans-serif;
  background-color: #fff;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
}

select[multiple] {
  background: unset;
}

h1, .input {
  text-align: center;
}

input {
  border: 0;
}

input[type="text"] {
  border-bottom: 1px solid;
  width: 500px;
}

input, .input p, select {
  font-size: 35px;
}

input[type="text"]:focus, select:focus {
  outline: none;
}

input[type="submit"] {
  margin-left: 15px;
}

input[type="submit"], .export a {
  transform: scaleX(-1);
}

.progress-export {
  margin-top: 50px;
}

.progress-export a {
  font-size: 50px;
}

.export {
  text-align: center;
}

.export a {
  font-size: 80px;
}

.progress-export a, .export a {
  color: black;
  text-decoration: none;
}